<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<form action="/user/uregister" method="post">
    username:<input type="text" value="Xiang wang" name="username" /></br>


    The balance of your account:<input type="text" name="age" value="1000"/></br>
    Customer function of <input type="button" value="deposit"> :<input type="text" value="800">
    Customer function of withdrawal:<input type="text" value="withdrawal">
</form>
</body>
</html>
